{{> head }}
{{> navbar  }}
<div class="container-fluid">
    <br>
<div class="row">
    <div class="col-md-8">
        <h1>Description</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolor ipsam facere delectus doloribus quas, totam ullam possimus. Voluptatem provident eius modi fuga suscipit! Minus deserunt et quidem repudiandae totam. </p>
    </div>
    <div class="col-md-4">
        <img src="/assets/img/technology.jpg" alt="" class="img-thumbnail">
    </div>
</div>
</div>

    
{{> footer  }}